[Unit]
Description=docker boot
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/ourfloraweb
ExecStart=/usr/bin/docker-compose -f /root/ourfloraweb/docker-compose.yml up

[Install]
WantedBy=multi-user.target
